extends layout

block content
  h1 !{title}
  if user 
    p Welcome back !{user.username}
    if user.memberstatus === "Non-Member"
      p To become a member, go to the membership page and enter the passcode: "Life is great!"
    else
      p You are super special awesome!
    a(href='/logout') Logout
  else
    a(href='/login') Login
    
