doctype html
html
  head
    title Members Only Messageboard
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navigation
      ul(class='topnav')
        li 
          a(href='/') Home
        li 
          a(href='/sign-up') Sign-up
        li
          a(href='/membership') Membership
    block content
