extends layout

block content
  h1 #{title}

  if user
    p Enter in the secret passcode to acquire membership status! In case you forgot, "Life is great!"

    form(method='POST', action='')
        div.form-group
        label(for="passcode") Passcode:
        input(type='text', name="passcode")
        button.btn.btn-primary(type='submit') Submit
  else
    p Please log to request membership
